[{:id :minecraft/item
  :entity-id 1
  :object-id 2}
 {:id :minecraft/xp_orb
  :entity-id 2}
 {:id :minecraft/area_effect_cloud
  :entity-id 3
  :object-id 3}
 {:id :minecraft/elder_guardian
  :entity-id 4}
 {:id :minecraft/wither_skeleton
  :entity-id 5}
 {:id :minecraft/stray
  :entity-id 6}
 {:id :minecraft/egg
  :entity-id 7
  :object-id 62}
 {:id :minecraft/leash_knot
  :entity-id 8
  :object-id 77}
 {:id :minecraft/painting
  :entity-id 9}
 {:id :minecraft/arrow
  :entity-id 10
  :object-id 60}
 {:id :minecraft/snowball
  :entity-id 11
  :object-id 61}
 {:id :minecraft/fireball
  :entity-id 12
  :object-id 63}
 {:id :minecraft/small_fireball
  :entity-id 13
  :object-id 64}
 {:id :minecraft/ender_pearl
  :entity-id 14
  :object-id 65}
 {:id :minecraft/eye_of_ender_signal
  :entity-id 15
  :object-id 72}
 {:id :minecraft/potion
  :entity-id 16
  :object-id 73}
 {:id :minecraft/xp_bottle
  :entity-id 17
  :object-id 75}
 {:id :minecraft/item_frame
  :entity-id 18
  :object-id 71}
 {:id :minecraft/wither_skull
  :entity-id 19
  :object-id 66}
 {:id :minecraft/tnt
  :entity-id 20
  :object-id 50}
 {:id :minecraft/falling_block
  :entity-id 21
  :object-id 70}
 {:id :minecraft/fireworks_rocket
  :entity-id 22
  :object-id 76}
 {:id :minecraft/husk
  :entity-id 23}
 {:id :minecraft/spectral_arrow
  :entity-id 24
  :object-id 91}
 {:id :minecraft/shulker_bullet
  :entity-id 25
  :object-id 67}
 {:id :minecraft/dragon_fireball
  :entity-id 26
  :object-id 93}
 {:id :minecraft/zombie_villager
  :entity-id 27}
 {:id :minecraft/skeleton_horse
  :entity-id 28}
 {:id :minecraft/zombie_horse
  :entity-id 29}
 {:id :minecraft/armor_stand
  :entity-id 30
  :object-id 78}
 {:id :minecraft/donkey
  :entity-id 31}
 {:id :minecraft/mule
  :entity-id 32}
 {:id :minecraft/evocation_fangs
  :entity-id 33
  :object-id 79}
 {:id :minecraft/evocation_illager
  :entity-id 34}
 {:id :minecraft/vex
  :entity-id 35}
 {:id :minecraft/vindication_illager
  :entity-id 36}
 {:id :minecraft/illusion_illager
  :entity-id 37}
 {:id :minecraft/commandblock_minecart
  :entity-id 40}
 {:id :minecraft/boat
  :entity-id 41
  :object-id 1}
 {:id :minecraft/minecart
  :entity-id 42
  :object-id 10}
 {:id :minecraft/chest_minecart
  :entity-id 43}
 {:id :minecraft/furnace_minecart
  :entity-id 44}
 {:id :minecraft/tnt_minecart
  :entity-id 45}
 {:id :minecraft/hopper_minecart
  :entity-id 46}
 {:id :minecraft/spawner_minecart
  :entity-id 47}
 {:id :minecraft/creeper
  :entity-id 50}
 {:id :minecraft/skeleton
  :entity-id 51}
 {:id :minecraft/spider
  :entity-id 52}
 {:id :minecraft/giant
  :entity-id 53}
 {:id :minecraft/zombie
  :entity-id 54}
 {:id :minecraft/slime
  :entity-id 55}
 {:id :minecraft/ghast
  :entity-id 56}
 {:id :minecraft/zombie_pigman
  :entity-id 57}
 {:id :minecraft/enderman
  :entity-id 58}
 {:id :minecraft/cave_spider
  :entity-id 59}
 {:id :minecraft/silverfish
  :entity-id 60}
 {:id :minecraft/blaze
  :entity-id 61}
 {:id :minecraft/magma_cube
  :entity-id 62}
 {:id :minecraft/ender_dragon
  :entity-id 63}
 {:id :minecraft/wither
  :entity-id 64}
 {:id :minecraft/bat
  :entity-id 65}
 {:id :minecraft/witch
  :entity-id 66}
 {:id :minecraft/endermite
  :entity-id 67}
 {:id :minecraft/guardian
  :entity-id 68}
 {:id :minecraft/shulker
  :entity-id 69}
 {:id :minecraft/pig
  :entity-id 90}
 {:id :minecraft/sheep
  :entity-id 91}
 {:id :minecraft/cow
  :entity-id 92}
 {:id :minecraft/chicken
  :entity-id 93}
 {:id :minecraft/squid
  :entity-id 94}
 {:id :minecraft/wolf
  :entity-id 95}
 {:id :minecraft/mooshroom
  :entity-id 96}
 {:id :minecraft/snowman
  :entity-id 97}
 {:id :minecraft/ocelot
  :entity-id 98}
 {:id :minecraft/villager_golem
  :entity-id 99}
 {:id :minecraft/horse
  :entity-id 100}
 {:id :minecraft/rabbit
  :entity-id 101}
 {:id :minecraft/polar_bear
  :entity-id 102}
 {:id :minecraft/llama
  :entity-id 103}
 {:id :minecraft/llama_spit
  :entity-id 104
  :object-id 68}
 {:id :minecraft/parrot
  :entity-id 105}
 {:id :minecraft/villager
  :entity-id 120}
 {:id :minecraft/ender_crystal
  :entity-id 200
  :object-id 51}
 {:id :minecraft/fishing_hook
  :object-id 90}]
